<div class="container mt-5">
    <div style="text-align: center;">
      <!-- Usamos ngIf para manejar la lógica de mostrar u ocultar el contenido -->
      <ng-container *ngIf="!registerMode; else registerTemplate">
        <h1>Find your best match!</h1>
        <p class="lead">True love is just a click away!</p>
        <div class="text-center">
          <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
          <button class="btn btn-info btn-lg me-2">Learn more...</button>
        </div>
      </ng-container>
  
      <!-- Template que se muestra si registerMode es true -->
      <ng-template #registerTemplate>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-4">
              <!-- Usamos el componente app-register con la emisión de eventos -->
              <app-register (cancelRegister)="cancelRegisterMode(true)"></app-register>

            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  